{% extends 'base.html' %}
{% load staticfiles %}
    {% block main %}
    <div class="card">
                <div class="slideshow-container">
                    <div class="mySlides fade imgShow">
                        <img src="{% static 'blog/img/images/img1.jpg' %}" alt="img1">
                        <div class="img-caption">Image1</div>
                    </div>

                    <div class="mySlides fade">
                        <img src="{% static 'blog/img/images/img2.jpg' %}" alt="img2">
                        <div class="img-caption">Image2</div>
                    </div>

                    <div class="mySlides fade">
                        <img src="{% static 'blog/img/images/img3.jpg' %}" alt="img3">
                        <div class="img-caption">Image3</div>
                    </div>
                    <!-- Next and previous buttons-->
                    <a class="prev">&#10094</a>
                    <a class="next">&#10095</a>
                    <div class="slidedot">
                        <span class="dot" id="1"></span>
                        <span class="dot" id="2"></span>
                        <span class="dot" id="3"></span>
                    </div>
                </div>
            </div>
    {% for post in post_list %}
            <div class="card">
                <h2>
                    <a href="{{post.get_absolute_url}}">{{ post.title}}</a>
                </h2>
                <h5>{{ post.created_time}}</h5>
                <div class="fakeimg" style="height: 200px;">Image</div>
                <p>{{ post.author }}</p>
                <p>{{post.excerpt}}</p>
            </div>
        </div>
    {% empty %}
    <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}
{% endblock main %}
